<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<link href= "http://localhost/source/user_guide/_static/css/mystyle.css" rel="stylesheet"> <!-- MY styling sheet -->
    <link href="http://localhost/source/user_guide/_static/css/foundation.css" rel="stylesheet"> <!-- foundations styling sheet -->

	<meta charset= "UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Today's 4 Revision</title>
	<link rel="icon" type="image/png" href="http://localhost/source/user_guide/_images/Icon.png"/ sizes="32x32"> <!--Simplified logo for the title section -->
</head>

	<body>
		<header>
			<div class= "container">
				<table class= "transparent"> <!-- To positions the logo and menu in the same row -->
					<tr>
	          <th>
							<a href= "index.html"> <!-- Logo linking to the homepage -->
							<img src= "http://localhost/source/user_guide/_images/logo.png" alt= "logo" class="logo" align="left">
						</th>
	          <th>
							<div class="tablet"> <!-- If mobile view humburger icon appearing, otherwise the menu appearing -->
							<img src= "http://localhost/source/user_guide/_images/hamburger.png" alt= "hamburger" height="20" width="20" align="right" onclick="hamburgerFunction()">
							</div>
							<nav class="mobile">
								<ul>
									<li><a href= "index.html"> Homepage</a></li>
									<li><a href= "Modules.html"> Modules</a></li>
									<li><a href= "Quiz.html"> Quiz</a></li>
								</ul>
							</nav>
						</th>
	        </tr>
				</table>
			</div>
			<div id="hamburgerDiv" style="display: none;"> <!-- If humburger icon appears these menu should appear -->
			<div class= "hamburger">
				<nav>
					<ul>
						<li><a href= "index.html"> Homepage</a></li>
						<li><a href= "Modules.html"> Modules</a></li>
						<li><a href= "Quiz.html"> Quiz</a></li>
					</ul>
				</nav>
			</div>
			</div>
			</header>

			<div class="maincell"> <!-- Main content for this page -->
	        <h1>Introduction</h1>
					<p>Welcome to Today’s 4 Revision website, through this website you can read upon some of the Computer Science modules and complete a quiz to test your knowledge on the specific modules/ topics.</p>
					<h5>How is the information structured?</h5>
					<p>The easiest way to finding the information would be to go to the Modules page; on this page you would see the different modules which are broken down in to Topics. Pick a topic, which you can revise from.</p>
					<h5>The Quiz</h5>
					<p>The Quiz is designed to help you to check if you have understood and learned the content, ready for your exam. On the quiz, you can use the default settings or personalise it to your needs. Read the information on the quiz page before you start, so that you understand what is asked of you to do.</p>
	      </div>

		<!-- Footer of the page -->
		<footer>
			<div class="container">&copy; Sharugi Balachandran<span style="float:right">More details</span></div>
		</footer>

<!--Script for gridsystem
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script> -->

<!--Script for the humburger menu, when the menu should appear and disappear-->
<script>
function hamburgerFunction() {
    var x = document.getElementById("hamburgerDiv");

		if(x.style.display === "none") {
			x.style.display = "block";
		}
		else {
			x.style.display = "none";
		}
}
</script>

</body>
